* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  padding: 25px 0;
  align-items: center;
  margin: 0 25px;
}

#logo-letter {
  color: #00ca9f;
  font-size: 36px;
}

.nav-main {
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-actions img {
  filter: invert(100%);
  width: 20px;
  height: 20px;
}

.round-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #c0c0c0;
  border-radius: 100%;
  padding: 20px;
}

.hero-texts span img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid black;
}

.page1 {
  display: flex;
  margin: 0 25px;
  gap: 115px;
  height: 100vh;
}

.left {
  flex-basis: 50%;
  margin-top: 50px;
}
.right {
  flex-basis: 50%;
  background-color: #b4a0d0;
  width: 100%;
  height: 450px;
  margin-top: 100px;
  border-radius: 20px;
  border-top-left-radius: 0;
  position: relative;
  /* overflow: hidden; */
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%); */
}

.top-tab {
  width: 80%;
  height: 40px;
  background-color: #b4a0d0;
  position: absolute;
  top: -40px;
  border-top-left-radius: 20px;
}
.top-tab::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  right: 0;
  box-shadow: 10px -10px 0 black;
}
.top-tab::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  right: -25px;
  bottom: 0;
  box-shadow: -10px 10px 0 #b4a0d0;
}

.hero-texts {
  border-bottom: 1px solid #c0c0c0;
  padding: 50px 0;
  line-height: 100px;
}
.hero-texts h2 {
  font-size: 70px;
  text-transform: uppercase;
}

.hero-texts h2 span img:not(:first-child) {
  margin-left: -30px;
}

.hero-actions {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 20px;
}

.hero2 {
  display: flex;
  flex-direction: column;
}
.container-hero {
  padding: 40px;
  position: absolute;
  top: -10%;
}
.container-hero p {
  color: black;
  font-weight: 500;
}

.right img {
  object-fit: cover;
  height: 450px;
  /* width: 300px; */
  position: absolute;
  left: 25%;
}

#email {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid black;
  background: transparent;
  outline: black;
}

#email::placeholder {
  color: white;
  font-weight: 500;
}

.page1 svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.right button {
  background: black;
  border: 50%;
  border-radius: 50%;
  border: none;
  padding: 7px;
  position: absolute;
  bottom: 5.5%;
  right: 16%;
}

.page2 {
  margin-bottom: 250px;
}

.main-container2 {
  display: flex;
  margin: 25px;
}

.left2 {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.right2 {
  flex-basis: 75%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.right2 .folder-container {
  width: 300px;
  height: 300px;
  /* background: red; */
  position: relative;
  border-radius: 20px;
  border-top-right-radius: 0;
}

.play-holder {
  display: flex;
  gap: 20px;
  align-items: center;
}

.play-holder button {
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}

.button-links-holder {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.button-links-holder a {
  border: 1px solid #c0c0c0;
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
  text-transform: uppercase;
}

.folder-tab1,
.folder-tab2,
.folder-tab3 {
  width: 90px;
  height: 20px;
  position: absolute;
  right: 0;
  top: -20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 40px;
}

.folder-tab1 {
  background: #fd5e09;
}
.folder-tab2 {
  background: #e0e0e0;
}
.folder-tab3 {
  background: #fdc959;
}

.folder-tab1::before {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 5px 5px 0 #fd5e09;
  left: -10px;
}
.folder-tab2::before {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 5px 5px 0 #e0e0e0;
  left: -10px;
}
.folder-tab3::before {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 5px 5px 0 #fdc959;
  left: -10px;
}

.orange {
  background: #fd5e09;
}
.light-grey {
  background: #e0e0e0;
}
.yellow {
  background: #fdc959;
}

.folder-container .lower-texts {
  color: black;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-transform: uppercase;
}

#count {
  font-size: 64px;
}

.upper-texts {
  color: black;
  position: absolute;
  left: 5%;
  top: 5%;
  text-transform: uppercase;
  font-weight: 500;
}

.second-top {
  top: 12%;
}

.light-grey svg {
  position: absolute;
  right: 10%;
  transform: rotate(-45deg);
}
